body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.homeInfo {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
}

button {
    /* border: 5px groove navy;
    border-width: 10px;
    border-radius: 5px; */
    /* width: px */
    font-size: 20pt;
    background: rgb(54, 158, 255);
    color: white;
    border-color:  rgb(47, 95, 185);
    border-radius: 6px;
    padding: 10px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 1.00;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("font.png");
    /*min-height: 100%;*/
    height: 600px;
}

.bgimg-2 {
    /*min-height: 100%;*/
    height: 1800px;

}

.bgimg-2:before {
    content: "";
    background-image: url("RCC.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    /*min-height: 100%;*/
    height: 600px;
}

.bgimg-3:before {
    content: "";
    background-image: url("Porter.jpg");
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.parallax {*/

/*    !* The image used *!*/

/*    background-image: url("Baskins.jpg");*/

/*    !* Set a specific height *!*/

/*    height: 500px;*/

/*    !* Create the parallax scrolling effect *!*/

/*    background-attachment: fixed;*/

/*    background-position: center;*/

/*    background-repeat: no-repeat;*/

/*    background-size: cover;*/

/*}*/

.logo {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    text-align: center;
    color: #000;
}

.logo img{
	height: auto;
	width: 270px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 30pt "Lato", sans-serif;
    color: #111;
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20pt "Lato", sans-serif;
    color: #111;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 15pt "Lato", sans-serif;
    color: #111;
}

h4 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 10pt "Lato", sans-serif;
    color: #111;
}

p {
    color: black;
    font: 20pt "Lato", sans-serif;
    color: #111;
    width: 50%;
}

a {
    /* color: black; */
    /* font: 20px "Lato", sans-serif; */
    /* color: #111; */
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: rgba(47, 117, 186, 255);
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 20px "Lato", sans-serif; 
}

/* Change the color of links on hover */

.topnav a:hover {
    background-color: rgb(47, 95, 185);
    color: white;
}

/* Add a color to the active/current link */

.topnav a.active {
    background-color:  rgb(47, 95, 185);
    color: white;
}

.profiles {
    text-align: center;
}

.profiles img {
    width: 130px;
}

.officers {
    position: absolute;
    left: 15%;
    top: 50px;
    width: 30%;
    background-color: #e3f2fd;
    padding-left: 20px;
    padding-right: 20px;
}

/*
.officers h1{
    color: blue;
}
*/
.submitButton {

left:45%;
right:45%;
position: absolute;


}

.submitFeelings {
    /*width: 75%;*/
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.teamreps {
    position: absolute;
    left: 55%;
    top: 50px;
    width: 30%;
    background-color: #e3f2fd;
    padding-left: 20px;
    padding-right: 20px;
}

/* Slideshow container */

.slideshow-container {
    width: 960px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.slide {
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

.socialmedia {}

.mainmedia {
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: #e3f2fd;
    padding-left: 20px;
    padding-right: 20px;
}
